.container_panel{

    display: flex;
    background: linear-gradient(55deg,#fc8a5d,#e5cb80);
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    padding-top: 1.4%;
    padding-bottom: 1.4%;
    border-radius: 10px;

    text-align: center;
}

.container_panel2{
    flex-direction: column;
    color: #35404B;
}

.container_panel2>p{
    
    color: #35404B;
    font-size: 18px;
}

.container_panel2> button{
    float: right;
    border: none;
    color: #FFFFFF;
    padding: 2.5px;
    border-radius: 10%;
    background-color: #D94814;
    
}