.container_panel{

    background: linear-gradient(55deg,#fc8a5d,#e5cb80);
    flex-direction: column;
    display: flex;
    width: 50%;
    margin: auto;
    margin-top: 4em;
    margin-bottom: 4em;
    padding: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 10px;
    text-align: center;
}
.container_panel2{

    flex-direction: column;
    color: #35404B;
}
.container_panel2>p{
    
    color: #35404B;
    font-size: 18px;
}
.container_panel2> button{

    float: right;
    border: none;
    color: #FFFFFF;
    padding: 2.5px;
    border-radius: 10%;
    background-color: #D94814;
}