.sorteioAdm {
  color: #35404b;
  min-height: 100vh;
  width: 100vw;
  padding: 2rem;
}

.sortAdm_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sortAdm_body {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.left_sortAdm_cont {
  width: 45%;
}

.header_itens_sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.body_itens_sort {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}

.img_itens_sort {
  object-fit: contain;
  aspect-ratio: 1/6;
  width: 200px;
  height: 150px;
}

.inputs_sortear_cont {
  display: grid;
  width: 50%;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  margin-top: 2rem;
  row-gap: 5px;
}

.textarea_inputs_sort{
  border-radius: 3px;
  width: 100%;
  padding: 8px;
  border: none;
  outline: rgba(0, 0, 0, 0.3) solid 0.5px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.00938em;
  resize: none;
}

.textarea_inputs_sort:focus{
  outline: #3498db solid 2px;
  outline-offset: 3px;
  border-spacing: 5px;
}

.btn_sortear_itens_cont {
  margin-top: 2rem;
}

.right_sortAdm_cont {
  width: 50%;
}

.cards_infos_sorts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  row-gap: 10px;
}

.card_info_sort {
  max-width: 350px;
  max-height: 500px;
  width: fit-content;
}

.img_card_info_sort {
  width: 250px;
  height: 150px;
  aspect-ratio: 1/6;
  object-fit: contain;
}

.inner_selec_sort_cont {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selec_this_sorteio_cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
