.containerPrincipal{
  margin-top: 7rem;
  margin-left: 4rem;
}

.tituloEvento{
  width: 650px;
  height: 3rem;
  font-size: 40px;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.tituloEvento:hover{
  border: 2px solid;
}

