@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

.containerCarroseul {
    margin-top: 5rem;
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrousel {
    cursor: grab;
    overflow: hidden;
}

.inner {
    display: flex;
}

.imagem {
    position: relative;
    min-width: 800px;
    min-height: 600px;
    padding: 15px;
    
}

.imagem img {
    width: 100%;
    height: 90%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 3px 3px 10px 2px;
    pointer-events: none;
}

.legenda {
    background: linear-gradient(180deg, rgba(0,0,0,0) 9.75%, rgba(0,0,0,0.75) 80%);
    display: flex;
    position: absolute;
    bottom: 11.70%;
    visibility: hidden;
    border-radius: 10px;
    align-items: end;
    width: 96%;
    height: 20%;
}

.legenda>a {
    margin-bottom: 1.10rem;
    margin-left: 1.10rem;
    padding: 5px;
    background: none;
    border-radius: 5px;
    font-size: 36px;
    color: #fafafa;
    border-width: 1px;
    font-weight: 500;
    font-family: 'Archivo', sans-serif;
}

.imagem:hover .legenda {
    visibility: visible;
}

.legenda:hover{
    color: #fafafa;
}

.imagem:hover{
    border-width: 3px;
    scale: 1.009
}

