
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');

*{
  font-family: 'Roboto Flex', sans-serif;
}
.App {
  text-align: center;
  background-color: #FFFFFF;
  color:#35404B;
  display: flex;
}

.page-container {
  display: flex;
  flex-direction: column;
  background-color:#FFFFFF;
}
.content-wrap {
  flex: 1;
}
