
.header_cont_cards_financeiro{
    width: 100%;
    display: flex;
}

/*configurações gerais do css desta página*/
.financeiro-tabelas-principal {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
  margin-bottom: 20rem;
}

.financeiro-tabelas-principal > label {
  font-weight: 700;
  color: #35404b;
  font-size: 1.3em;
}

.bt-avancar-financeiro {
  border: none;
  background: none;
}

/* configurações dos subcomponentes */
.tabela-ultimas-rendas,
.tabela-ultimas-saidas {
  font-weight: 700;
  color: #35404b;
  font-size: 1em;
  margin: 2em;
}

.div-header {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 20px;
  justify-content: center;
}

.div-grafico-primeira {
  display: flex;
  flex-direction: row;
}

.cont-header-finaceiro {
  width: fit-content;
  display: flex;
  align-items: center;
}

.cont-header-finaceiro > h3 {
  margin-right: 10rem;
  margin-top: 10px;
}

.buttons{
  margin-top: 1rem;
}

.text-and-buttons {
  display: flex;
  align-items: start;
  margin-left: -12rem;
}
