body{
    overflow-x: hidden;
}

.painelEventosUser{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    margin-bottom: 300px;
}

.TituloEventoUser{
    margin-left: 40px;
    padding-bottom: 50px;
}

.CorpoEventoUser{
    margin-left: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    gap: 20px;
}