body{
    overflow-x: hidden;
}

.painelEventosUser{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    margin-bottom: 300px;
}

.TituloEventoUser{
    margin-left: 40px;
    padding-bottom: 50px;
}

#pesquisaEvents{

    display: flex;
    margin: 0 80%;
}

.CorpoEventoUser{
    margin-left: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    gap: 20px;
}


.loaderEventoCarroseulEventos{
    width: 100%;
    display: flex;
    margin-left: 1rem;
}


.loaderEventoCarroseulEventos > span{

    width: 10em;
    height: 10em;
    margin: 0 2em;
}

.grupo-evento{

    margin-top: 5em;
}