  body {
    overflow-x: hidden;
  }

  .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title {
    text-align: center;
    width: 100%;
  }


  .TituloEventoUser {
    margin-left: 20rem;
    color: #00471F;
  }

  .grupo-evento {
    margin-top: 5em;
    padding-left: 1rem;
  }

  .painelEventosUser {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
  }

  .contPesquisaEventoUser {
    width: auto; 
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem; 
    align-items: center;
    box-shadow: none;
    border: none;
    border-radius: 2000px;
  }

  #pesquisaEvents {
    border: none;
    
  }

  .CorpoEventoUser {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    background-color: #E6E6E6;
    margin-top: 1rem;
  }

  .loaderEventoCarroseulEventos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .loaderEventoCarroseulEventos > span {
    width: 10em;
    height: 10em;
  }

  /* referente ao botao roxo */

  .container_participar_evento {
    display: flex;
    align-items: flex-end;
  }

  /* referente à imagem da capa central */
  .imagemCp1_evento_user {
    max-height: 20em;
    margin-right: 3em;
  }
