.contCardObjetoDoacao{
    width: 20vw;
    height: 30vh;
    box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 10px;
    border-radius: 20px;
    display: flex;
}

.headCardObjetoDoacao{
    width: 100%;
    height: 100%;   
    border-radius: 20px;
    box-sizing: border-box;
}
.headCardObjetoDoacao img{
    width: 100%;
    height: 100%;
    aspect-ratio: 12/10;
    background: linear-gradient(180deg, rgba(0,0,0,0.0) 80%, rgba(0,0,0,0.45));
    border-radius: 20px;
}

.semImagemCardObjeto{
    width: 100%;
    height: 100%;
}

.bodyCardObjetoDoacao{
    position: absolute;
    width: 100%;
    width: 100%;
}


