body{
    overflow-x: hidden;
}


  .containerEvents > .titulo_evento{


    display: flex;
    flex-direction: column;
    color: #35404b;
    font-weight: 700;
  
  }

  .containerEvents .voltar{

    display: flex;
    justify-content: right;
  }
/* Corpo */

.corpo_evento{

  display: flex;
  justify-content: space-evenly;
  margin: 0 8% 0 0 
}


.corpo_evento .evento_banner> .imagem{

  display: block;
    background-color: #8da0b2;
    width: 30em;
    height: 20em;
}


.corpo_evento .evento_banner > .imagem .imagemCp1{

    height: 100%;
    width: 100%;
}

.descricaoEvento{

  display: flex;
  flex-direction: column;  
}

/*INFORMAÇÕES*/

.voltar button{
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: white;
  border: none;
  background-color: #ffb783;
  font-weight: 700;
  font-size: 1.1em;
  font-weight: 700;
  color: #35404b;
  margin-right: 5em;
}


.voltar button:hover{
  width: 3.2em;
  height: 3.2em;
  background-color: #ffa768;
  transition: 0.5s;
}

.subtopicos{
  
  margin: 0 10em;
}

#topicosInfo > li a{

  font-weight: 700;
  font-size: 1.2em;
  color: #35404b;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  text-decoration: none;
  text-indent: 5em;
}

.participantes{

  flex-direction: column;
  display: flex;
}

.participantes > h2{

  text-align: left;
  font-weight: 700;
  color: #35404b;
  text-indent: 5em;
}