.homepage{

    background-color: rgb(255, 255, 255);
    margin-bottom: 5%;
    font-family: "Inter", sans-serif;
}



.sectionCapa{
    height: 0px;  
    position: relative;
    margin-top: -150px;
}


.containerCapa label{
    background-color:white;
    width: 100%;
    align-self: center;
    color: #003015;
    padding: 1em 0 1em 2em;
    font-weight: 700;
    font-size: 2.5em;
    text-align: center;
}

.containerCapa label p{

   color: #FFFFFF;
}

.area-middle{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.facebook-area{

    width: 30em;
    height: 40em;
    margin: 3em 0;
}

.facebook-area > label{

    font-size: 1.2em;
    font-weight: 700;
    color: #35404b;
    margin: 1em 0;
}

.area-cartoes-home{

    display: flex;
    flex-direction: column;
}