*{
    margin: 0;
    padding: 0;
  }
  
  .topo{
    width: 100%;
    height: 10vh;
    background: linear-gradient(#FFC691,#FFC691);
   display: flex;
   align-items: center;
   justify-content: left;
    
  }
  .topo h2{
    margin: 0 0 0 50px;
  }
  .iconeSeta{
    margin-right: 60%;
  
  }
  .itemsTopoDireita{
    margin-right: 130vh;
    background-color: #403928;
  }
  .itemsExtra{
    margin-right: 50px;
    width: 30px;
    height: 40px;
  }
  
  /*segunda parte*/
  
  .title{
    font-weight: bold;
    font-size: 48px;
    margin: 60px 0px 60px 150px;
  }
  
  .containerImagemEntrar{
    width: 70%;
    height: 80vh;
    margin: 40px 15%;
    background: linear-gradient(#FFE39D,#F3D78F);
    border-radius: 20px;
   
  }
  .containerImagemEntrar h1{
    font-size: 60px;
  }
  
  #divUm{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .div2{
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .div3{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .itemsPainel{
    width: 100px;
    height: 1000px;
  }
  
  /*
   PARTE 3
  */
  
 
  .contItens{
    height: 40vh;
    margin: 40px ;
  }
  .imagens{
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .imagens img{
    width: 20vh;
    height: 20vh;
  }

  /*
    PARTE 4
  */
  .title3{
    font-weight: bold;
    font-size: 48px;
    margin: 60px 0px 60px 150px;
  }
  .contItensArtigo{
    height: 40vh;
    margin: 40px;
  }
  .divImagensArtigo{
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .divImagensArtigo img{
    width: 20vh;
    height: 20vh;
  }

  /*
    PARTE 5
  */
  .title4{
    font-weight: bold;
    font-size: 48px;
    margin: 60px 0px 60px 150px;
  }
  .divItensJovem{
    height: 40vh;
    margin: 40px;
  }
  .divImagensJovem{
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .divImagensJovem img{
    width: 20vh;
    height: 20vh;
  }

  /*
    PARTE 6
  */

  .title5{
    font-weight: bold;
    font-size: 48px;
    margin: 60px 0px 60px 150px;
  }
  .divItensArtesanato{
    height: 40vh;
    margin: ;
  }



  