.square-fundadora{
  background-color: #003617;
  width: 1300px;
  margin-left: -100px;
  margin-top: -22px;
  border-radius: 17px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  height: 700px;
}

.fundadora-text{
  color: aliceblue;
  font-family: "Inter", Arial, sans-serif;
  font-size: 40px;
  text-align: center;
  margin-top: 37px;
  text-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

.conteudo-fundadora{
  margin-top: 25px;
  
}

.conteudo-fundadora p {
  color: aliceblue;
  margin-left: 50px;
  font-size: 19px;
  margin-right: 500px;
  margin-bottom: 20px;
  text-align: justify;
  font-family: "Inter", Arial, sans-serif;
}

.fundadora-img {
  width: 42%;
  margin-left: 850px;
  margin-top: -550px; /* Valor negativo para subir o texto */
}

.nome-fundadora{
  margin-left: 1000px;
  margin-top: -35px;
  font-size: 17px;
  color: aliceblue;
}

@media screen and (max-width:1400){
  .square-fundadora{
    width: 10px;
    margin-left: 0px;
  }
  .fundadora-img{
    margin-left: 0px;
  }
}