.container_add_saidas {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header_add_saidas {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.header_add_saidas > label {
  font-size: 28px;
  font-weight: bold;
}

.container_inputs_add_saidas {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 1.5rem;
}

.inputs_add_saidas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  row-gap: 10px;
}

.inputs_add_saidas>label{
  font-size: 16px;
  font-weight: 600;
}

.inner_inputs_add_saidas_grid{
  display: grid;
  grid-template-columns: 35% 60%;
  column-gap: 10px;
}

.add_codigo_texto_saidas{
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.add_codigo_texto_saidas>label{
  font-size: 18px;
  font-weight: 600;
}

.container_btn_add_saidas{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}