.card{

  display: flex;
  padding: 2px;
  
}
#card-texto{
 text-indent: 3px;

}
h1{
  color: white;
}

.space-in{
  font-size: 14px;
  font: 'Inter', sans-serif;
 
}

#imagem{

  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-right: 20px;
  float: right;  
}

#texto{
  font-size: 15px;
  color: white;
  font-weight: bold;
  margin-top: 5%;
}

#corpo{

  background: linear-gradient(135deg,#c14242,#d7663c);
  background-size: 100% 100%;
}

#titulo{

    color: white;
}

#bt{

  background-color: #d94814;
  float: right;
}
