

#dropdown-basic{
  border: none;
  box-shadow: none;
  background-color: rgba(255, 3, 3, 0);
  font-size: 1em;
  color: white;
  font-weight: 700;
}

#dropdown-basic:hover{
  background-color: rgba(255, 255, 255, 0.25);
}

.itensdrop{

  font-size: 1rem;
  width: auto;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.itensdrop > * {
  margin: 10rem; 
}

.itensdrop a:hover {

  color: #ff5900;
  transition: 0.2s;
}

.itensdrop:hover{

  font-size: 1rem;
  transition: 0.7s;

}

#menu{


  width: 10em;
  border: none;
  background-color: #dfdfdf;
  border-radius: 0.6em;

}

#menu #link:hover{
  background-color: #d7d7d7;
}

@media only screen and (max-width: 1024px) {


  .itensdrop{


    font-weight: 700;
  }

  .itensdrop a{

    font-size: 1.2rem;
    font-weight: 700;
  }

  #dropdown-basic{
    font-size: 0.8em;
  }


}
