#topbar #topicos {
    display: flex;
    align-items: center;
    width: 100%;
}

#cont-logo{
    background-color: #B9D1E7;
    border-radius: 10px;
    padding: 3px;
    margin: 0 15px;
}

#cont-logo img {
    height: 60px;
}

#topbar {
    width: 100%;
    height: 80px;

    background-color: #E3F1FE;
    z-index: 1040;

    left: 0;
    top: 0;

    display: flex;
    position: fixed;
    align-items: center;
}


#topbar #topicos * {
    height: 60px;
    width: 100%;

    font-size: 19px;
    font-weight: bold;
    color: #35404B;
    text-decoration: none;
    text-align: center;

    border-radius: 10px;
    padding: 0 6px;
    line-height: 60px;
}

#topbar #topicos *:hover {
    background-color: #c2d6ea;
}

#topbar #btn {
    margin: 0 15px;
    border: none;
    border-radius: 10px;
    font-size: .9em;
    width: 120px;
    height: 2.5pc;
    color: #35404B;
    background-color: #B9D1E7;
}

#topbar #btn:hover {
    background-color: #a9c4dc;
}

#topbar #space {
    display: none;
}


.hamburger-menu {
    min-width: 70px;
    display: none;
    visibility: hidden;
}

.menu__btn {
    margin: 0;
}

#menu__toggle {
    display: none;
    opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
    margin-top: 7px;
    transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
    top: 0px;
    transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
    top: 0px;
    transform: rotate(-90deg);
}

#menu__toggle:checked~.menu__box {
    left: 0 !important;
}

.menu__btn {
    position: fixed;
    display: flex;
    top: 24px;
    left: 22px;
    width: 26px;
    height: 20px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #697c90;
    transition-duration: .3s;
}

.menu__btn>span::before {
    content: '';
    top: 8px;
}

.menu__btn>span::after {
    content: '';
    top: 16px;
}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #E3F1FE;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}


.menu__btn:hover>span,
.menu__btn:hover>span::before,
.menu__btn:hover>span::after {
    background-color: #7d91a7;
}

@media screen and (max-width: 768px) {

  .hamburger-menu {
    height: 60px;
    display: unset;
    visibility: visible;
  }

  #cont-logo{
    margin: 0 1px;
  }

  #cont-logo img {
    height: 50px;
    margin: none;
  }

  #topbar {
    display: inline-block flex;
    height: 65px;
  }

  #topbar #topicos {
    display: none;
  }

  #topbar #btn {
    margin: 0 9px;
  }

  #topbar #space {
    display: flex;
    align-items: center;
    width: 100%;
  }

  #btn{
    min-width: 80px;
  }
}