
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

.header_top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 5em;
	padding: 0 2rem;
  	position: relative;
  	z-index: 1;
	background: #003015;
	color: #f1f1f1;
  	font-weight: 700;
  	font-size: 1.2em;
}

nav a {
	margin: 20px;
	color: var(--textColor);
	text-decoration: none;
	transition: 0.5s;
}

nav > a:hover {
	background-color: rgba(255, 255, 255, 0.2);
   padding: 1em;
   transition: 0.8s;
   border-radius: 0.4em;
   color: #ff5900;
}

#item{
	margin-right: 10px;
	justify-content: space-between;
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
  display: none;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	
}


#cont-logo {
  background: none;
  border-radius: 10px;
  padding: 3px;
  margin: 0 15px;
}

#cont-logo img {
  height: 60px;
}
@media only screen and (max-width: 1024px) {
	.header_top .nav-btn {
		visibility: visible;
    display: inline-flex;
		opacity: 1;
	}

	.header_top nav {
		position: fixed;
		top: -100vh;
    box-shadow: #00000080 2px 6px 15px;
		left: 0;
		height: 80%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		gap: 1.5rem;
		background: #005123;
		transition: 1s;
	}

	.header_top .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}

  nav div{

    font-size: 1.2em;
  }
}