.contAddCursoAdm {
  width: 94vw;
  min-height: 100%;
  margin-left: 3rem;
  margin-top: 7rem;
}

.headerAddCurso {
  width: 100%;
}
.headerAddCurso label {
  font-size: 36px;
  font-weight: bold;
}

.bodyAddCurso {
  width: 100%;
  margin-top: 3rem;
  min-height: 100%;
}

.outContInputsAddCurso {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.contInputsAddCurso {
  width: 70%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.contInputsAddCurso > div > label {
  font-size: 18px;
  font-weight: 550;
  margin-bottom: 1.1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerAddCurso {
  width: 100%;
  margin-top: 3rem;
}

.contEnviarAddCurso {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contImagemAddCurso {
  margin-top: 3rem;
  width: 640px;
  height: 480px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 10px;
}

.outImagemAddCurso {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contTextAreaDescAddCursoAdm {
  width: 100%;
  min-height: 7vh;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.headDescAddCursoAdm {
  width: 70%;
  align-self: center;
}

.bodyDescAddCursoAdm {
  width: 70%;
  height: 6vh;
  align-self: center;
  margin-bottom: 3rem;
}

.contModulosAddCursoAdm {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.headerModulosAddCursoAdm {
  width: 70%;
  display: flex;
  align-self: center;
  justify-content: space-between;
  align-items: center;
}

.bodyModulosAddCursoAdm {
  width: 70%;
  align-self: center;
}

.contListItemCursoAdd {
  width: "100%";
  display: "flex";
  align-items: "center";
}
.contListItemCursoAdd {
  display: flex;
  align-items: center;
}

.contInputArquivoAtividade{
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}