.main-footer {
  display: flex;
  color: #f1f1f1;
  background: #094e49;
  background-size: 100% 100%;
  padding-top: 3em;
  margin-top: 0rem;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
  max-height: 15em;
}

#logo{
  width: 100px;
  height: 70px;
}

.col{
  margin: 10px 10px;
}

.col h4{
  
  color: #f1f1f1;
  font-weight: 600;
}

.col ul li{

  font-weight: 0;
}

.list-unstyled ul li{
  
  text-align: center;
  text-decoration: none;
}

.col ul li{

  color: #f1f1f1;
   font-weight: 400;
}

.list-unstyled li a{

  text-decoration: none;
  color: #f1f1f1;
}

.list-unstyled li a:hover{

  
  color: #0e5d98;

}
.linha{

  max-width: 25em;
  margin: auto;
  background-color: #f1f1f1;
  color: #f1f1f1;
  margin-bottom: 10px;
}

.col-sm{

  font-size: 1em;
  text-align: center;
  color: #f1f1f1;
  margin-bottom: 2em;
}


.item-line-footer{

  display: flex;

}