.main-footer {
  color: black;
  background: linear-gradient(90deg, #00b09b, #96c93d);
  background-size: 100% 100%;
  padding-top: 3em;
  margin-top: 20rem;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.container{
  max-height: 18rem;

}

#logo{
  width: 100px;
  height: 70px;
}

.col{
  margin: 10px 10px;
}

.col ul li{

  font-weight: 400;
}


.list-unstyled li{
  text-align: justify;
}

.linha{

  max-width: 20em;
  margin: auto;
  margin-bottom: 10px;
}

.col-sm{

  font-size: smaller;
  font-weight: 550;
}