.pedido-container{

  display: flex;
  flex-direction: row;
  background: linear-gradient(55deg,#d24646,#f16633);
  padding: 2em;
  margin: 0 25%;
  border-radius: 2em;
  justify-content: space-around;
}

.pedido-container .container-imagem > img{

  width: 10em;
  height: 10em;
  background-size:8em;
  background-repeat: no-repeat;
  background-attachment:contain;
  border-radius: 50%;
  margin: 1em;
}

.pedido-container .info-conteudo{

  display: flex;
  flex-direction: column;
}

.pedido-container .info-conteudo label:nth-child(1){

  font-weight: 600;
  font-size: 2em;
  color: #FFFFFF;
  text-align: center;
}

.pedido-container .info-conteudo label:nth-child(2){

  font-weight: 700;
  font-size: 1.1em;
  text-indent: 2em;
  text-align: left;
  margin: 0.5em 10%;
  color: #FFFFFF;
}

.pedido-container .info-conteudo > button{

    color: #FFFFFF;
    font-weight: 600;
    border: none;
    padding:  0.5em 1em;
    max-width: 250px;
    border-radius: 1em;
    background-color: #0d761d;
    box-shadow: rgba(0, 0, 0, .50) 5px 5px 20px;
    align-self: center;
    margin: 0.6em 0;
}

.info-conteudo > button #textBt{

  color: #FFFFFF;
}

.pedido-container .info-conteudo > button:hover{

  background-color: #0b6218;
}