*{
    font-family: helvetica sans-serif;
}

body {
    background-color: #F3F9FF;
}

.container {
    margin: 0;
    padding: 0;
    padding-top: 100px;
}

.find {
    display: flex;
    position: absolute;
    width: 100%;
    height: 2pc;
    align-items: center;
}

.find div {
    display: block;
    position: absolute;
    width: 100%;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.find div * {
    height: 27px;
    max-width: 200px;
    border-style: none;
    outline: none;
}

.search {
    float: left;
    background-color: #CBDCEC;

    width: 180px;
    margin-left: 20px;
    
    color: #6C879C;
    font-size: 18px;
    text-align: left;
    text-indent: 7px;

    border-radius: 5px;
}

.search::placeholder{
    color: #6C879C;
}

.hopper {
    float: right;
    background-color: #CBDCEC;

    margin-right: 20px;

    text-align: center;

    color: #6C879C;
    font-size: 14px;

    border-radius: 5px;

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-right: 15px;
    background-image: url('https://cdn.discordapp.com/attachments/903094207235895330/1065069747949011085/image.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 3px) center;
    background-size: 18px;
}

.crud {
    margin-top: 2em;
    display: flex;
    position: absolute;
    width: 100%;
    height: 3pc;
    align-items: center;
}

.crud h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 0 20px;
    max-width: 133px;
    color: #35404B;
}

.crud * {
    width: 100%;
    text-align: center;
}

.inputs {
    display: flex;
    text-align: end;
    justify-content: flex-end;
    width: 100%;
    margin-right: 20px;
}

.inputs input {
    border-style: solid;
    background-color: #CBDCEC;
    color: #35404B;

    min-width: 85px;
    max-width: 85px;
    height: 27px;
    margin-left: 10px;

    font-size: 14px;

    border-radius: 5px;
    border-style: none;
}

.tabela {
    margin: auto;
    border-collapse: collapse;

    width: 100%;
    max-width: 95%;

    border-radius: 10px;
    margin-top: 6em;
}

.tabela tr {
    background: none;
}

.tabela tr:hover {
    background-color: #c2d6ea;
}

.tabela td {
    font-size: 18px;
    border: 1px solid #ddd;
    padding: 8px;
}