*{
    font-family: helvetica sans-serif;
}

body {
    background-color: #F3F9FF;
}

.tools {
    top: 80px;
    position: fixed;
    display: inline;
    background-color: #F3F9FF;

    height: 125px;
    width: 100%;

    margin: 0;
    padding: 4px 0;
    box-shadow: 0px 0px 10px #758B9F;
}

.find {
    display: flex;
    position: absolute;
    width: 100%;
    height: 3pc;
    align-items: center;
}

.find div {
    display: block;
    position: absolute;
    width: 100%;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.find div * {
    height: 27px;
    max-width: 200px;
    border-style: none;
    outline: none;
}

.search {
    float: left;
    background-color: #CBDCEC;

    width: 170px;
    margin-left: 15px;
    
    color: #6C879C;
    font-size: 18px;
    text-align: left;
    text-indent: 7px;

    border-radius: 5px;
}

.search::placeholder{
    color: #6C879C;
}

.hopper {
    float: right;
    background-color: #CBDCEC;

    margin-right:15px;

    color: #6C879C;
    font-size: 14px;
    text-align: center;

    border-radius: 5px;

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0 33px 0 9px;
    background-image: url('https://cdn.discordapp.com/attachments/903094207235895330/1065069747949011085/image.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) center;
    background-size: 18px;
}

.crud {
    margin-top: 46px;
    display: flex;
    position: absolute;
    width: 100%;
    align-items: center;
}

.crud h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 0 15px;
    width: 133px;
    color: #35404B;
}

.crud * {
    width: 100%;
    text-align: center;
}

.inputs {
    display: flex;
    text-align: end;
    justify-content: flex-end;
    width: 100%;
    margin-right: 15px;
}

.inputs input {
    border-style: solid;
    background-color: #CBDCEC;
    color: #35404B;

    min-width: 85px;
    max-width: 85px;
    height: 27px;
    margin-left: 10px;

    font-size: 14px;

    border-radius: 5px;
    border-style: none;
}

.tools table{
    margin: auto;
    border-collapse: collapse;

    width: 95%;

    margin-top: 88px;
}
.tools table tr{
    background: none;
}
.tools table td{
    font-size: 16px;
    padding: 0 5px;
    color: #758B9F;
}

.tabela {
    margin: auto;
    border-collapse: collapse;

    width: 95%;

    margin-top: 13.5pc;
    margin-bottom: 20px;
}

.tabela tr {
    background: none;
}

.tabela td {
    font-size: 15px;
    padding: 0 5px;
    color: #758B9F;
}

.tabela tbody tr:hover {
    background-color: #d0e2f3;
}

.tabela tbody td {
    font-size: 18px;
    color: #35404B;
    padding: 10px 5px;
}

.tabela tbody td:last-child {
    border-radius: 0 10px 10px 0;
}
.tabela tbody td:first-child {
    border-radius: 10px 0 0 10px;
}
@media screen and (max-width: 768px) {
    .tools{
        top:65px
    }
    .tabela{
        margin-top: 12.5pc;
    }
    .tabela tbody td{
        font-size: 16px;
    }
}