.container_painel_financeiro {
  width: 100vw;
  min-height: 1238px;
}

.header_painel_financeiro {
  width: auto;
  margin-top: 40px;
  margin-left: 75px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header_painel_financeiro > label {
  font-size: 40px;
  font-weight: bold;
  color: #252525;
}

.header_info_mes_painel_financeiro > span {
  font-size: 24px;
  font-weight: 700;
  color: #252525;
}

.header_info_mes_painel_financeiro > svg {
  height: 24px;
}

.header_info_mes_painel_financeiro {
  width: 100%;
  height: 30px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.cont_fragmento_one_painel_financeiro {
  width: 100%;
  margin-left: 75px;
  display: flex;
}

.cont_esquerda_fragmento_one {
  width: 45%;
}

.container_meta_painel_financeiro {
  width: 100%;
  margin-top: 60px;
  display: flex;
}

.container_circular_progress {
  width: fit-content;
  display: flex;
  align-items: center;
  position: relative;
}

.container_circular_progress > label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #252525;
}

.container_info_circular_progress {
  align-self: flex-end;
}

.container_info_circular_progress > label > span {
  font-size: 18px;
  font-weight: 700;
}

.container_info_circular_progress > label {
  font-size: 30px;
  font-weight: 700;
}

.cont_direita_fragmento_one {
  width: 45%;
}

.cont_infos_fragmentos_one {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.container_info_fragmentos_one_painel_financeiro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 226px;
  height: 145px;
  background: linear-gradient(180deg, #1a0631 70%, rgb(26, 6, 49, 0.85));
  row-gap: 30px;
  border-radius: 12px;
}
.container_info_fragmentos_one_painel_financeiro > span {
  color: #faf4f4;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
.container_info_fragmentos_one_painel_financeiro > a {
  color: #faf4f4;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  justify-self: flex-end;
}

.container_info_fragmentos_one_painel_financeiro > a:hover {
  color: blue;
}

.cont_tabelas_ultimas_painel_financeiro {
  width: 100%;
  margin-top: 40px;
}

.cont_tabelas_ultimas_painel_financeiro > label {
  font-size: 24px;
  font-size: 600;
}

.cont_frag_two_painel_financeiro {
  width: 100%;
  margin-top: 72px;
  margin-left: 75px;
  display: flex;
}

.cont_esquerda_frag_two_painel_financeiro {
  width: 50%;
}

.cont_direita_frag_two_painel_financeiro {
  width: 40%;
  display: flex;
}

.cont_info_frag_two_painel {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: flex-end;
  width: 50%;
  align-items: flex-end;
}

.cont_info_frag_two_painel > span {
  font-size: 18px;
  font-weight: 700;
}

.cont_info_frag_two_painel > label {
  font-size: 30px;
  font-weight: 700;
  text-align: end;
}

.cont_grafico_pizza_frag_two_painel_financeiro {
  width: 400px;
  justify-self: flex-end;
}



/*fragmento terceiro, painel dos graficos*/
.fragmento-financeiro-grafico{

  flex-direction: column;
  display: flex;
}


.div-grafico-primeira, .div-grafico-segunda{

    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

.div-grafico-segunda{

  display: block;
  flex-direction: row;
  justify-content: start;
  width: 50%;
}