@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

*{
    font-family: 'Heebo', sans-serif;
}

body{
    overflow-x: hidden;
}

.containerFinanceiro{
    width: 100vw;
    min-height: 100vh;
    margin-top: 2rem;
    margin-left: 0;
    padding-right: 0;
}

.tituloPainelFinanceiro{
    position: inherit;
    width: 80%;
    padding-left: 4.5rem;
    padding-top: 0px;
}

.tituloPainelFinanceiro label{
    font-size: 36px;
    font-weight: bold;
    top: 0;
    left: 0;
}

.cards {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30vh;
}


.cards div{
    display: grid;
    width: 25%;
    grid-template-columns: 100%;
    grid-template-rows: 40% 20% 30%;
    height: 100%;
    margin-right: 5rem;
    margin-left: 4.5rem;
    border-radius: 15px;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .25);
}

.cards>div>a{
    justify-self: center;
}

.cards div:hover a{
    display: inherit;
}

.saibaMaisFin{
    color: #333;
    font-size: 20px;
    font-weight: 600;
    display: none;
    align-self: flex-end;
    padding: 0.4rem;
    background-color: rgba(255, 255, 255, .50);
    border-radius: 5px;
}

.cardLucroTotal{
    background-color: #038c3396;
}

.cardLucroMensal{
    background-color: #038c3375;
}

.cardDespesaMensal{
    background-color: #FF961B;
}

.tituloCard{
    font-weight: bold;
    color: white;
    margin-top: 25px;
    margin-left: 20px;
    font-size: 36px;
}

.valorNum{
    margin-left: 20px;
    font-weight: 600;
    font-size: 34px;
}

.painelGrafico{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
}

.graficoEsquerda{
    margin-top: 3rem;
    margin-left: 4.5em;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .25);
    width: 63%;
    height: 50%;
    border-radius: 15px;
}

.graficoEsquerda p{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
}


.escolhaDireita{
    margin-left: 4.5em;
    margin-top: 3rem;
    width: 24%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .25);
    border-radius: 15px;
    row-gap:2rem;
}

.selecionado{
    background-color: #6cad8396; 
}
.escolhaDireita button{
    font-size: 2rem;
    width: 70%;
    border-color: inherit;
    border-width: 0px;
    text-align: center;
    box-shadow: 1px 1px 25px 0 rgba(0, 0, 0, .20);    
    border-radius: 30px;
}

.escolhaDireita button:hover{
    background-color: #d2d6da;
}

.ultimasRendas{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-left: 4.5em;
    width: 91%;
    max-height: 50%;
    overflow-x: hidden;
    box-shadow: 1px 1px 25px 0 rgba(0, 0, 0, .20); 
    border-radius: 30px;
    margin-bottom: 3rem;
}

.tituloUltimasRendas{
    margin-top: 1.6rem;
    margin-left: 2rem;
    font-size: 30px;
    width: 95%;
    display: flex;
    justify-content: center;
}


