body {
  margin: 0;
  padding: 0;
}

.containerGasto {
  width: 100vw;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.cabecalhoGasto {
  width: 100vw;
  height: 10%;
  margin-left: 0;
  margin-top: 2rem;
  text-indent: 2.5em;
  margin-left: 0.5rem;
}

.cabecalhoGasto a {
  font-size: 36px;
  font-weight: bold;
  top: 0;
  left: 0;
}

.containerTabela {
  margin-top: 2rem;
  width: 65%;
  height: 100%;
  margin-left: 3rem;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  flex-wrap: wrap;
}

.headContTabela {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.tituloHeadContTabela {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.tituloHeadContTabela a {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  margin-top: 0;
  margin-left: 0;
}

.iconsHeadContTabela {
  display: flex;
  width: 40%;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.iconsHeadContTabela a,
.iconsHeadContTabela span {
  border-radius: 50%;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 5px;
}

.iconsHeadContTabela a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.iconsHeadContTabela a:nth-child(1) img {
  width: 55px;
  padding: 5px;
}

.icons {
  width: 55px;
  height: 55px;
  color: #35404b;
}

.containerUltGastos {
  display: flex;
  width: 27%;
  height: 60%;
  margin-left: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.headUltGastos {
  width: 100%;
  height: 5%;
  margin-top: 3rem;
}

.headUltGastos p {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  margin-top: 0;
}

.containerTabelaUltGasto {
  width: 100%;
  height: 95%;
  box-shadow: rgba(0, 0, 0, 0.25);
  margin-left: 2.5rem;
  margin-top: 2.6rem;
}

.containerTabelaUltGasto table {
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 5px;
}

.containerTabelaUltGasto table,
th,
td {
  border: 2px solid rgba(0, 0, 0, 0.75);
  text-align: left;
}
