.global {
  font-family: 'Inter', sans-serif;
  color:#35404B;
  background-color: #FFFFFF;
  display: block;
 
}
  

#imgquemsomos{
  
  max-height: 600px;
  width: 100%;
}

#titulo {
  color:#35404B;
  display: inline-block;
  text-align: left;
  font-weight: bold;
  margin-top: 150px;
  font-size: 55px;
  font-family: 'Inter';
  font-style: bold;

}

p {
  font-family: 'Inter';
  font-style: normal;
  margin-right: 90px;
  margin-left: 40px;
  font-size: 25px;

}

.frasefinal{
  font-weight: bold;

}
