.global {

  font-family: 'Inter', sans-serif;
  color:#35404B;
  background-color: #FFFFFF;
  display: block;
  margin: 2em 0;
}
#imgquemsomos{
  
  max-height: 600px;
  width: 100%;
}
#titulo {

  color:#35404B;
  display: inline-block;
  text-align: left;
  font-weight: bold;
  margin: 1.5em 0;
  text-indent: 2em;
  font-size: 3em;
  font-family: 'Inter';
}
.global > p {

  font-family: 'Inter';
  font-style: normal;
  margin: 1em 2em 0 2em;
  text-align: justify;
  text-indent: 2em;
  font-size: 18px;
}
.frasefinal{

  font-weight: bold;
  padding-bottom: 1.5em;
}

#titulo>p{

  margin-left: 20px;
}
