.section-tabelaDesempenho{

    margin: 2.5em 10%;
}

.section-tabelaDesempenho .table thead td{

    border: 2px solid #35404b;
}

.section-tabelaDesempenho .table {

    border: 2px solid #35404b;
}

.section-tabelaDesempenho .table tbody tr, th, td{

    text-align: center;
}

.desempenhoUser-body{

    padding: 11em 0;
}
.desempenhoUser-body > label{

    font-size: 2em;
    color: #35404b;
    font-weight: 800;
    text-indent: 2em;
}
.barra-body{

    display: flex;
}

.searchbar{

    display: flex;
    margin-left: 2em;
    margin: 3em 0 1.5em 8em;
}