.img{
  width: 530px;
  transform: translatey(0px);
  margin-left: 120px;
  margin-top: 210px;
  animation: float 4s ease-in-out infinite;
  overflow: hidden;
}

@keyframes float {
  0%{
      transform: translatey(0px);
  }
  50%{
      transform: translatey(-50px);
  }
  100%{
      transform: translatey(0px);
  }
  
}

.quadrado{
  background-color: #003617;
  width: 550px;
  height: 730px;
  margin-left: 860px;
  margin-top: -580px;
  margin-bottom: 150px;
  border-radius: 30px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  
}

.login-text{
  margin-left: 1060px;
  margin-top: -790px;
  color: white;
  font-size: 65px;
  font-weight: lighter;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.email-input{
  
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 70px;
  overflow: hidden;

}

.email-camp{
  width: 400px;
  height: 30px;
  margin-left: 940px;
  border: 0;
  margin-top: 10px;
  border-bottom: 2px solid white;
  background-color: transparent;
  outline: none;
  font-size: larger;
  color: white;
}

.email-text{
  font-size: 16px;
  margin-left: 940px;
  color: white;
  font-family: 'Inter', sans-serif;
}

.remember{
  margin-left: 940px;
  color: white;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
}

.forget-password{
  margin-left: 1180px;
  color: #B4FFD4;
  text-decoration: none;
  margin-top: 0;
}

.button-continue{
  width: 400px;
  height: 50px;
  margin-left: 940px;
  margin-top: 60px;
  border-radius: 5px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  border: 0;
  background-color: #A8FFC7;
  font-size: 25px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  color: #003617;
  cursor: pointer;
}

.register-div{
  margin-left: 940px;
  margin-top: 75px;
}

.text-register{
  color: white;
}

.register{
  margin-left: 4px;
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

.terms-div{
  margin-left: 750px;
  margin-top: 90px;
  font-size: 10px;
  text-align: center;
  color: #D6FDE7;
  margin-bottom: 100px;
}

.register-terms{
  color: #D6FDE7;
}

.register-privace{
  color: #D6FDE7;
}