.card{

    display: flex;
    padding: 2px;
    
}

#card-texto{
   text-indent: 3px;
    float: left;
    margin-right: 100px;
    
  
}
.space-in{

    font-size: 14px;
    font: 'Inter', sans-serif;
   
}
#imagem{

    height: 150px;
    width: 150px;
    border-radius: 50%;
    float: right;
}

#bt{

    background-color: #D94814;
    float: right;
    
}
