.card{

    display: flex;
    padding: 2px;
}

.card-texto{

    padding-left: 15px;
    text-align: justify;
}
.space-in{

    font-size: 14px;
    font: Arial
    /*trocar pro inter*/
}
#imagem{

    height: 120px;
    width: 120px;
    border-radius: 50%;
    float: right;
}

#bt{

    background-color: #D94814;
    float: right;
    
}