.card_container {
  max-width: 340px;
  height: fit-content;

  @media (min-width: 768px) and (max-width: 1024px) {
    max-width: 100%;
  }

  @media (min-width: 600px) and (max-width: 768px) {
    max-width: 95%;
  }

  @media (max-width: 600px) {
    max-width: 95%;
  }
}
