.forms-container3_1{

    display: flex;
    flex-direction: column;
  }
  
  .forms-container3_1 .breadNav > button{
  
    padding: 0.5em;
    border-radius: 50em;
    width: 3em;
    height: 3em;
    border-style: solid;
    font-weight: 600;
    font-size: 1.2em;
    background-color: #e1e1e1;
    border: 0.1em solid #66d135;
  }
  .forms-container3_1 .breadNav > button:nth-child(3){
  
    background-color: #fff9e4;
    border: 0.1em solid #c5b100;
  }
  
  .forms-container3_1{
  
    flex-direction: column;
    padding: 2em;
    color: #35404b;
  }
  
  .forms-container3_1 .infoDoar{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .forms-container3_1 .infoDoar > img{
  
    width: 6em;
    height: 4.5em;
    margin: auto;
  }
  
  .forms-container3_1 .infoDoar label{
  
    margin: 0.5em 0;
  }
  
  .forms-container3_1 .infoDoar label:nth-of-type(1){
  
    font-weight: 800;
    text-align: center;
    font-size: 1.5em;
  }
  
  .forms-container3_1 .infoDoar label:nth-of-type(2){
  
    font-weight: 800;
    text-align: center;
    font-size: 1.3em;
  }
  
  
  .forms-container3_1 .button-area{
  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3em;
   }
  
   .forms-container3_1 .button-area a{
  
       color: #ffffff;
   }
  
  
   .forms-container3_1 button{
  
    padding: 0.5em;
  }
  
  .forms-container3_1 .button-area button:nth-child(1){
  
    border: none;
    font-size: 0.9em;
    background: none;
  }
  
  .forms-container3_1 .button-area button:nth-child(2){
  
    background-color: #009e3f;
    border-radius: 0.8em;
    padding: 0.5em;
    border: none;
    font-weight: 600;
  }
  
  .forms-container3_1 .button-area a #avancaButton:hover{
  
    background-color: #01913a;
    }


    #avancaButtonfinal{

      color: #35404b;
      font-size: medium;
      font-weight: 700;
      
    }

    #avancaButtonfinal:hover{

      background: #68717a;
    }