.container-form3 #formsDoar{

    margin: 0 25%
  }
  
  .container-form3 > label{
  
    color: #35404b;
    font-weight: 500;
    text-indent: 4em;
    font-size: 1.2em;
    margin: 1em;
  
    
  }
  
  .labelforms::after{
  
    content: " *";
    color: #CA1E1E;
  }
  
  .container-form3 .breadNav > button{
  
    padding: 0.5em;
    border-radius: 50em;
    width: 3em;
    height: 3em;
    border-style: solid;
    font-weight: 600;
    font-size: 1.2em;
    background-color: #e1e1e1;
    border: 0.1em solid #398a12;
  }
  .container-form3 .breadNav > button:nth-child(3){
  
    background-color: #fff9e4;
    border: 0.1em solid #c5b100;
  }
  
  .container-form3 .button-area{
  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3em;
   }
  
   .button-area button, .button-area  > #avancaButton{
  
    padding: 0.5em;
  }
  
  .container-form3 .button-area button:nth-child(1){
  
    border: none;
    font-size: 0.9em;
    color: #959595;
    background: none;
  }
  
   .container-form3 .button-area button:nth-child(2){
  
    background-color: #009e3f;
    color: #ffffff;
    border-radius: 0.8em;
    padding: 0.5em;
    border: none;
    font-weight: 600;
  }

  
