.breadNav{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1em 0;
  }
  
  .container-form2 .breadNav > button{
  
    padding: 0.5em;
    border-radius: 50em;
    width: 3em;
    height: 3em;
    border-style: solid;
    font-weight: 600;
    font-size: 1.2em;
    background-color: #e1e1e1;
    border: 0.1em solid #398a12;
  }
  .container-form2 .breadNav > button:nth-child(2){
  
    background-color: #fff9e4;
    border: 0.1em solid #c5b100;
  }
  
  .container-form2 .inserirPag{
  
    flex-direction: column;
    display: flex;
    margin: 0 30% 0 20%;
  }
  
  .container-form2 .inserirPag label{
  
    font-weight: 500;
    margin: 0.5em 0;
    font-weight: 600; 
    font-size: 1.5em;
    color: #35404b
  }
  
  .container-form2 .inserirPag > input{
  
    color: #35404b;
    margin: 14% 14%;
    height: 2.5em;
  }
  
  .button-area{
  
    flex-direction: row;
   }
  
   .container-form2 .button-area{
  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 6em;
   }
  
   .container-form2 button{
  
    padding: 0.5em;
  }
  
  .container-form2 .button-area button:nth-child(1){
  
    border: none;
    font-size: 0.9em;
    color: #959595;
    background: none;
  }
  
   .container-form2 .button-area button:nth-child(2){
  
    background-color: #009e3f;
    color: #ffffff;
    border-radius: 0.8em;
    padding: 0.5em;
    border: none;
    font-weight: 600;
  }