/*area do container do forms 1*/
.container-form1{

    display: flex;
    flex-direction: column;
    padding: 1.5em;
   }
  
   .breadNav{
  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1em 0;
  }
  
  .container-form1 .breadNav > button{
  
    padding: 0.5em;
    border-radius: 50em;
    width: 3em;
    height: 3em;
    border-style: solid;
    font-weight: 600;
    font-size: 1.2em;
    background-color: #e1e1e1;
    border: 0.1em solid #398a12;
  }
  .container-form1 .breadNav > button:nth-child(1){
  
    background-color: #fff9e4;
    border: 0.1em solid #c5b100;
  }
  
   .container-form1 > label{
  
    font-size: 1.3em;
    font-weight: 500;
    margin: 1em 0;
    color: #35404b;
   }
  
   .container-form1  .forms1{
  
    display: flex;
    flex-direction: column;
  }
  
  .container-form1 .forms1 button{
  
    border: none;
    background: none;
    text-align: left;
    margin: 0.3em 0;
    color: #35404b;
    font-weight: 450;
  }
  .forms1 .formasDinheiro{
    
    display: flex;
    flex-direction: column;
    text-indent: 2em;
  }
  
  .forms1 .formasDinheiro label{

    display: flex;
    margin-right: 70%;
    justify-content: space-between;
  }
 
  #objLabel{
  
    text-indent: 2em;
  }
  
  #objLabel > span{
  
    text-decoration: underline;
  }
   .button-area{
  
    flex-direction: row;
   }
  
   .container-form1 .button-area{
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.4em;
   }
  
   .container-form1 button{
  
    padding: 0.5em;
  }

  .container-form1 button > a{
  
    color: #35404b;
    font-weight: 500;
  }

  .container-form1 button > a:hover{
  
    color: #000000;
    font-weight: 500;
  }
  
  .container-form1 .button-area button:nth-child(1){
  
    border: none;
    font-size: 0.9em;
    color: #959595;
    background: none;
  }
  
   .container-form1 .button-area button:nth-child(2){
  
    background-color: #009e3f;
    color: #ffffff;
    border-radius: 0.8em;
    padding: 0.5em;
    border: none;
    font-weight: 600;
  }
  
  .container-form1 .button-area #avancaButton:hover{
  
  background-color: #01913a;
  }