.secao1{

  width: 100%;
  height: 20em;
  background: linear-gradient(45deg, #64B6AC, #CCCCCC);
  margin-top: 4.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}

.secao1 > div{

  display: block;
  position: relative;
  top: 4.5em;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background-color: #5b5b5b;
  margin-left: 5em;
}

.formularioPerfil{

  margin: 5em 0;
}

.forms{

  justify-content: left;
  display: flex;
  margin-left: 10em;
}

#btAlterar{

  border: none;
  font-size: 1.2em;
  background-color: #FFC369;
  color: #35404b;
  border-radius: 0.6em;
  padding: 0.4em 0.6em;
  text-transform: uppercase;
  font-weight: 700;
 
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0.8;
  }
  100% {
      opacity: 1;
   }
}

#btAlterar:hover{

   background-color: #ecb158;
   animation: fadeInAnimation ease 3s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
}

.tituloPerfil{

  font-size: 2em;
  margin: 1em 0;
  font-weight: 900;
  color: #35404b;

}

.formGridSenha{

  background-color: #FFC369;
}