.container_perfil{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.secao1 {

  width: 100%;
  height: 20em;
  background: linear-gradient(45deg, #64B6AC, #CCCCCC);
  background-image: url(../../images/matriz.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: -10em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

.secao1>div {

  display: block;
  position: relative;
  top: 4.5em;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background-color: #5b5b5b;
  margin-left: 5em;
}

.formularioPerfil {

  margin: 7em 0;
  height: 100%;
}

.forms {

  justify-content: left;
  display: flex;
}

#btAlterar {

  border: none;
  font-size: 18px;
  background-color: #094e49;
  color: #f4f4f4;
  border-radius: 12px;
  padding: 6px 12px;
  width: fit-content;
  text-transform: capitalize;
  font-weight: 400;

}

@keyframes fadeInAnimation {
  0% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

#btAlterar:hover {

  background-color: #613191;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.tituloPerfil{
  text-align: left;
}

.formGridSenha {

  background-color: #FFC369;
}

.cont_perfil_associado{
  width: 50%;
  margin-top: 7em;
}
.pago_associado{
  font-size: 18px;
  font-weight: 600;
  color: #58D68D;
}
.pendente_associado{
  font-size: 18px;
  font-weight: 600;
  color: #F4D03F;
}
.container_mp{
  width: 100%;
  padding: 6px;
  margin-top: 1rem;
  border-radius: 12px;
  justify-content: center;
  outline: #252525 solid 1px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 10px;
}

.container_mp>.carrosel_mp{
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  overflow-y: hidden;
  width: 100%;
}

.container_mp>.carrosel_mp::-webkit-scrollbar{
  height: 5px;
  
}

.container_mp>.carrosel_mp::-webkit-scrollbar-thumb{
  background-color: #5DADE2;
  border-radius: 24px;
}
.container_mp>.carrosel_mp::-webkit-scrollbar-thumb:hover{
  background-color: #436780;
  cursor: pointer;
}

.container_mp>.carrosel_mp>button{
  padding: 0 15px 0 15px;
  border: none;
  background-color: inherit;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}

.container_mp>.carrosel_mp>button:hover{
  background-color: rgba(0, 0, 0, 0.10);
  font-weight: 600;
}
.btn_mes_selecionado{
  color: #5DADE2;
}
.container_mesSelecionadoInfo{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.cont_card_pagamentoAssociado{
  width: 50%;
}

.cont_headerpagamentoassociado{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.headerpagamentoassociado{
  width: 100%;
  background-color: #58D68D;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.textInfoCard_PA{
  color: #252525;
  font-size: 18px;
  font-weight: 400;
}

.pagamentoassociado_nao_pago{
  background-color: #EC7063;
}

.nao_pago_associado{
  font-size: 18px;
  font-weight: 600;
  color: #E74C3C;
}

.footer_card_btn_ap{
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.footer_card_btn_ap>button:hover{
  background-color: #58D68D;
}

.body_modal_pagar_associacao{
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  row-gap: 10px;
  grid-template-rows: auto;
}

.footer_modal_pag_assoc{
  width: 100%;
  display: flex;
  justify-content: center;
}

.sorteio_perfil_associado{

  width: 100%;
  margin-top: 2rem;

}

.header_sort_perfil_assoc{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#selecionar_mes_assoc_perfil_sorteios{
  display: flex;
  align-items: center;
  
}