* {
  margin: 0;
  padding: 0;
}

/* secao 1*/
.secao1 {
  position: relative;
  background-color: #7fb7bb;
  padding: 118px;
}
#back {
  position: inherit;
  top: -120px;
  background-color: #7fb7bb;
  border: none;
  font-size: 24px;
  margin-left: -100px;
}
#foto {
  background-color: #6a9194;
  border: none;
  padding: 20px;
  font-size: 20px;
  border-radius: 50px;
  margin-left: 450px;
}
/* secao 2*/
.secao2 {
  position: absolute;
  background-color: #43a3a9;
  padding: 149px 358px;
  top: 1px;
  margin-left: 685px;
  border-radius: 0px 0px 0px 500px;
}
#perfil {
  position: absolute;
  background-color: #6a9194;
  border: none;
  padding: 20px;
  font-size: 20px;
  border-radius: 50px;
  margin-left: -120px;
  margin-top: -29px;
}
/*foto*/
.fotoPerfil {
  position: absolute;
  padding: 110px 110px;
  background-color: #8b9c9a;
  border-radius: 500px;
  top: 190px;
  margin-left: 80px;
}
.tituloFoto {
  position: absolute;
  margin-top: -20px;
  margin-left: -30px;
}
/* meu perfil */
#meuPerfil {
  margin-left: 550px;
}
#linha {
  position: absolute;
  background-color: black;
  padding: 5px 100px;
  margin-left: 530px;
  margin-top: 5px;
}
#info {
  margin-left: 800px;
  margin-top: -42px;
}

/* informações */
#info1 {
  position: absolute;
  padding: 200px 500px;
  margin-top: 70px;
}
#info1 h3 {
  position: inherit;
  margin-left: -400px;
  padding: 0;
}
#nome {
  top: 30px;
}
#prof {
  top: 80px;
}
#email {
  top: 130px;
}
#dataNasc {
  top: 180px;
}

#info1 input {
  position: inherit;
  background-color: #8b9c9a;
  border-radius: 10px;
  padding-left: 5px;
  width: 26rem;
  height: 2.1rem;
  text-align: left;
  border:hidden
}
#inputNome {
  top: 30px;
  margin-left: -80px;
}
#inputProf {
  top: 80px;
  margin-left: -80px;
}
#inputEmail {
  top: 130px;
  margin-left: -80px;
}
#inputData {
  top: 180px;
  margin-left: -80px;
}

#containerInfos{
  padding-bottom: 40vh;
}