.container_cod_financeiro {
  width: 100vw;
  min-height: 100vh;
  padding: 2rem;
}

.header_cf {
  width: 100%;
}

.header_esquerda_cf {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.body_cf {
  margin-top: 2em;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.esquerda_body_cf {
  width: 100%;
}

.direita_body_cf {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  place-items: center;
}

.header_direita_cf {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.body_direita_cf {
  display: grid;
  place-items: end;
  row-gap: 10px;
  width: 50%;
}

.input_cod {
  border-radius: 3px;
  outline: rgba(0, 0, 0, 0.3) solid 0.5px;
  width: 100%;
  padding: 8px;
  border: none;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.00938em;
}

.input_cod:focus {
  outline: #3498db solid 2px;
  outline-offset: 3px;
  border-spacing: 5px;
}

.body_direita_cf {
  margin-top: 2rem;
}

.body_direita_cf > label {
  font-size: 18px;
  font-weight: 600;
  color: #252525;
  width: 100%;
}

.footer_direita_cf {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.footer_direita_cf > button:hover {
  background-color: #af52bf;
}
.cont_select_tipo_cod_fin {
  margin-bottom: 2rem;
}

.input_error_cod {
  outline: #f1948a solid 2px;
  border-radius: 3px;
  width: 100%;
  padding: 8px;
  border: none;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.00938em;
}
.input_error_cod:focus {
  outline: #cb4335 solid 2px;
  outline-offset: 3px;
  border-spacing: 5px;
}

.shake_animation {
  animation: shake 0.5s both;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
}
