.container-DoacaoForm{

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 5em;
  height: 120vh;
  width: 100%;
  background-image: url('../../images/background-formDoar.jpg');
}


.body-formDoacao{

  display: inline-flex;
  flex-direction: column;
     height: 100%;
  align-items: center;
  margin-top: 10em;
   height:100vh;
   width: 100%;
   background-image: url('../../images/background-formDoar.jpg');  
   justify-content: flex-end;
   ;
 }

 .container-right{

   background-color: #ffffff;
   width: calc(100%/1/4);
   height: calc(100%/2);
   margin-top: 3em;
   margin-right: 8%;
   border-radius: 3em;
   box-shadow: 0.5px 0.5px 5px #000000;
 }


 .container-right label{

   background: linear-gradient(90deg, #ef860e, #18c349);
   padding: 0.5em;
   width: 100%;
   border-top-left-radius: 2em;
   border-top-right-radius: 2em;
   /*em relacao ao texto*/
   
   text-align: center;
   font-weight: 800;
   font-size: 1.5em;
   color: #ffffff;
   text-transform: uppercase;
   text-shadow: 2px 2px 3px black;
 }

 .container-form1 button{

    background-color: #009e3f;
    color: #ffffff;
    border-radius: 0.5em;
    padding: 0.5em;
    font-weight: 700;
    box-shadow: #00000080 1px 1.5px 8px;
    margin-left: 3em;
 }

 .container-form1 button:hover{

  background-color: #01913a;
}