#body-associado {

  margin-top: 80px;
  color: #35404B;
  width: 100%;
  height: 100%;
}

#body-associado h1 {

  margin-top: 5em;
  margin-left: 3em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

#body-associado p {
  margin-left: 4%;
  font-size: 1.2em;
}

.texto-associado {
  margin-top: 6%;
  margin-bottom: 4%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-left: 5%;
}

.texto-associado>h2 {
  font-weight: bold;
  text-align: center;
}

.texto-associado>p {
  display: flex;
  font-weight: bold;
  font-size: 14px;
  font-size: 1.2em;
  margin-right: 1em;
}


.imagem-associado {
  background-image: url(
    https://cdn.pixabay.com/photo/2017/02/15/13/39/tulips-2068688_960_720.jpg
  );

  margin-top: 3rem;
  position: relative;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.imagem-associado div>h2 {

  font-weight: bold;
  text-align: left;
  margin-left: 2%;

}

.imagem-associado div > p {

  font-weight: bold;
  text-align: left;
  margin-left: 0;
 
}

/*Parte dos blocos de vendas:0*/
.anuncio-associado {

  margin-top: 0%;
  display: flex;
  justify-content: space-evenly;
  height: 100%;

  /* justify-content: space-around; */
}

.anuncio-associado>div {

  padding-top: 5em;
  min-height: 30em;
  width: 30em;
  padding-bottom: 5em;
  font-weight: bold;
  color: #FFFFFF;
  margin-left: 5em;
  margin-right: 5em;
  border-radius: 30px;
  
}


.anuncio-associado div>h2 {

  font-weight: 1000;
  text-align: center;
  text-transform: uppercase;
}

.anuncio-associado div > p {

  padding: 0 2em 0 2em;
  text-align: left;
}

.anuncio-associado div>button {

  display: flex;
  margin: auto;
  margin-top: 5em;
  padding:0.5em;
}

.anuncio-associado>div:first-child {

  background-color: #329550;
  margin-top: 5%;
  margin-right: 2%;
}

.anuncio-associado>div:last-child {

  background-color: #e66636;
  height: 95%;
  margin-left: 2%;
}

/*palavra no final*/
#duvidas-associado {

  margin-top: 4%;
  text-align: center;
  margin-left: 0%;
  margin-right: 4%;
}

.btnAssociado {
  border: none;
  color: #FFFFFF;
  padding: 2.5px;
  border-radius: 10%;
  background-color: #d94814;
  box-shadow: rgba(0, 0, 0, .50) 5px 5px 20px;
}