.label-input-hallel {
  color: #06312E;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.label-input-hallel > span {
  color: #ff7b00;
}


@media screen and (max-width: 768px) {
  /* Estilos para telas com largura máxima de 768px (tipicamente, smartphones) */
  .label-input-hallel{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets (largura de tela entre 769px e 1024px) */
}