.cont-btn-forma-pagamento {
  width: 200px;
  height: 150px;
  color: #002811;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.cont-btn-forma-pagamento:hover{
    background: rgba(216, 223, 220, 0.12);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}

.btn-forma-pagamento-selecionado{
    background: rgba(216, 223, 220, 0.12);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}

@media screen and (max-width: 768px) {
  .cont-btn-forma-pagamento {
    width: 150px;
  }
}
