@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

.body-programacao {
    display: block;
    color: #003617;
    height: 10rem;
    margin-bottom: 15rem;
    font-family: 'Inter';
    text-align: center; /* Centraliza o texto */
}

.containerCarroseulProg {
    text-align: center;
}

.carrousel {
    overflow: hidden;
    position: relative;
    max-width: 100%; /* Ajusta a largura máxima do carrossel */
    margin: 0 auto; /* Centraliza o carrossel */
}

.inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.imagem2 {
    box-sizing: border-box;
    padding: 10px;
    max-width: 1%; /* Ajusta a largura máxima da imagem */
    margin: 0 auto; /* Centraliza a imagem */
}

.imagem2 img {
    max-width: 100%;
    max-height: 100%; /* Adicionado para garantir que a altura não ultrapasse */
    width: auto;
    height: auto;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #555;
}

.legenda2 {
    background-color: #003617;
    display: flex;
    position: absolute;
    bottom: 13.5%;
    border-radius: 10px;
    align-items: flex-end;
    width: 92.5%;
    height: 25%;
    left: 50%; /* Centraliza a legenda horizontalmente */
    transform: translateX(-50%); /* Centraliza a legenda horizontalmente */
} 

.legenda2>a {
    margin-bottom: 1.10rem;
    margin-left: 1.10rem;
    padding: 5px;
    background-color: #003617;
    border-radius: 5px;
    font-size: 36px;
    color: #fafafa;
    border-width: 1px;
    font-weight: 500;
    font-family: 'Archivo', sans-serif;
}

.imagem2:hover .legenda2 {
    visibility: visible;
}

.legenda2:hover {
    color: #fafafa;
} 

.imagem2:hover {
    border-width: 2px;
    scale: 1.009;
}
