.container_panel{

    display: flex;
    flex-direction: column;
    background: linear-gradient(55deg,#fc8a5d,#e5cb80);
    width: 50%;
    margin: 4em auto;
    padding: 1.5em;
    border-radius: 1.5em;
    text-align: center;
    transition: 0.5s;
}


.container_panel:hover{

    padding: 2em;
    width: 53%;
    transition: 0.5s;


}

.container_panel label{

    font-size: 2.1em;
    font-weight: 500;
}

.container_panel>p{
    
    color: #35404B;
    font-size: 1.125em;
    font-weight: 600;
}
.container_panel> button{

    float: right;
    border: none;
    color: #FFFFFF;
    padding: 2.5px;
    border-radius: 10%;
    background-color: #D94814;
}
.container_panel .btnAssociado{

    background-color: #0d761d;
    box-shadow: #00000080 0px 5px 8px;
    color: #FFFFFF;
    font-weight: 600;
    padding: 0.5em 1em;
    border: none;
    border-radius: 1em;
}

.container_panel .btnAssociado:hover{


    background-color: #0b6218;
}