.contListarCursosAdm {
    width: 94vw;
    min-height: 100%;
    margin-top: 7rem;
    margin-left: 3rem;
}

.headListCursosAdm{
    width: 100%;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headListCursosAdm label{
    font-size: 36px;
    font-weight: bold;
}

.contPesquisaCursoAdm{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.innerPesquisa{
    width: 20%;
}

.innerPesquisa>input{
    width: 90% ;
}

.bodyListCursosAdm{
    width: 100%;
    margin-top: 3rem;
    min-height: 100%;
    display: flex;
    gap: 2rem;
}

.modalDescricaoCurso{
    background-color: #fafafa;
    justify-content: flex-start;
    padding-left: 2rem;
    padding-bottom: 2rem;
    border-radius: 10px;
}