.btnHallel {
  height: 35px;
  border-radius: 12px;
  border-width: 0;
  width: fit-content;
  width: 125px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 4px;
}

.btnHallel:hover {
  opacity: 0.88;
  background-color: rgb(49, 27, 6);
}

/* 

*/